{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container-fluid" style="width: 100%; margin: 0; padding: 0">
  <img
    alt="IG"
    src="https://images.pexels.com/photos/744672/pexels-photo-744672.jpeg?cs=srgb&dl=pexels-rakicevic-nenad-744672.jpg&fm=jpg"
    height="300"
    class="img-fluid"
  />

  <div
    class="position-absolute top-50 start-50 translate-middle"
    style="font-size: 5rem; color: white; font-family: 'Rubik Beastly', cursive"
  >
    The Hood
  </div>
</div>

{% endblock %}
